<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <main>
            <h1>
                <!-- First example of passing data to the template to be rendered by Jinja2 -->
                Welcome to the {{ test }}
            </h1>
            <p>
                Quod saepe maxime quis voluptas ratione dolor illum beatae. Debitis iusto mollitia molestiae. Explicabo
                nostrum et sint. Aut vitae consectetur expedita ratione excepturi esse ut.
            </p>
            <p>
                Sapiente alias voluptatem provident ullam in. Sed reprehenderit adipisci at. Ut omnis et qui.
            </p>
            <p>
                Ipsum maxime sequi qui. Consequatur omnis aut consequuntur deserunt distinctio voluptas deserunt. Ea id
                et
                quia architecto quia eveniet maiores et. Quos tempora est quisquam consequatur.
            </p>
            <p>
                Earum et sed nemo dolor modi. Ea unde vitae unde. Id eum et reprehenderit. Ut odio officiis asperiores.
            </p>
            <p>
                Tempore quibusdam debitis doloremque. Omnis voluptas aliquam sit. Tempore non numquam omnis et.
            </p>
        </main>
    </main>
</body>

</html>