a {
    color: var(--main-text-colour);
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.25em;
    width: 80%;
}

form:nth-child(2) {
    flex-direction: row;
    justify-content: center;
}


form>div {
    margin: 0.25em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>div>div {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

form:nth-child(2) *,
form div * {
    margin: 0 0.5em;
}

form div>label {
    font-size: initial;
}

form div>input {
    color: var(--main-text-colour);
    border: 1px solid var(--main-dark-colour);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px var(--drop-shadow-colour);
}

form div>[type=radio] {
    box-shadow: 0 0 0 0 var(--drop-shadow-colour);
}

table {
    border-collapse: collapse;
    width: 95%;
    border-bottom: 1px solid var(--main-dark-colour);
    margin-top: 2em;
}

th {
    border-bottom: 1px solid var(--main-dark-colour);
}

tr {
    margin: 0;
    background-color: var(--row-colour-1);
}

tr:nth-child(even) {
    background-color: var(--row-colour-2);
}

tr:hover {
    background-color: var(--row-colour-hover);
    cursor: pointer;
    transition: background-color 0.4s;
}

td {
    padding: 0.25em;
    text-align: center;
}

@media (max-width: 1480px) {
    table {
        width: 100%;
    }

    form>div {
        flex-direction: column;
        align-items: flex-start;
    }
}