main>div {
    margin: 5em 0;
}

form {
    width: 95%;
}

form>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 33%;
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 1em;
    background-color: var(--row-colour-1);
}

.item:nth-child(even) {
    background-color: var(--row-colour-2);
}


.item>label {
    width: 25%;
    margin-left: 1em;
}

.radioQ {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.checkQ {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.checkQ>div {
    padding: 0.2em;
}

textarea,
input[type=text] {
    width: 70%;
    border: 1px solid var(--main-dark-colour);
}

input, textarea {
    margin-right: 1em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 3em;
}

ul {
    width: 80%;
}

@media (max-width: 700px) {
    .radioQ {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 29%;
    }
    .checkQ {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50%;
    }
}
