body {
    padding: 0;
    margin: 0;
}

main>div {
    margin: 5em 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.25em;
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
    width: 100%;
    padding: 1em;
}

#info>* {
    font-size: large;
    font-weight: bold;
    margin: 0.25em 0;
}

textarea,
input[type=text] {
    width: 70%;
    border: 1px solid var(--main-dark-colour);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 3em;
    flex-direction: row !important;
}

/* Gallery Stuff */

.top {

    box-shadow: 0px 0px 4px var(--drop-shadow-colour);
    width: 800px;
    margin-bottom: 1em;
}

.infoline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.infoline>* {
    padding: 1em;
    margin-bottom: 0;
}


.images {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    flex-wrap: wrap;
    margin-top: 2em;
    min-width: 532px;
}

.image {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image>img {
    max-width: 100%;
}

.buttons {
    margin: 2em;
}

.buttons>.button {
    margin: 0.25em;
}

.invisible {
    display: none;
}

.pressed {
    background-color: var(--button-pressed-colour);
}

.bottom {
    display: flex;
    flex-direction: row;
    padding: 0.25em;
    width: 800px;
    justify-content: space-between;
}

.bottom>* {
    box-shadow: 0px 0px 4px var(--drop-shadow-colour);
}

.stageInformation {
    width: 400px;
    margin-right: 1em;
}

.stageButtons {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin: 1em;
}

.stageButtons>button {
    padding: 0.25em 1em 0.25em 1em;
}

.textareas {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    width: 400px;
}

.areaContainer {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
}

.areaContainer>label {
    font-size: large;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 0.5em;
}

textarea {
    width: 100%;
    resize: none;
    align-self: center;
    border: solid 1px var(--main-dark-colour);
}

div>select {
    flex: none;
}

.stage {
    padding: 1em;
    margin: 0.5em;
}

form>button {
    margin: 0.75em;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div>div {
    margin-top: 1em;
    margin-bottom: 0.25em;
    display: flex;
    align-items: center;
}

form>div>div>label {
    margin-left: 0.25em;
}

form>div>input {
    margin-top: 0.25em;
    margin-bottom: 1em;
}

@media (max-width: 1480px) {
    .infoline {
        width: 100%;
    }
    .buttons {
        margin: 0;
        max-width: 100%;
        margin: auto;
        padding: 1em 0em;
    }

    .buttons>* {
        padding: 0.25em 1em 0.25em 1em;
    }

    .stageButtons {
        margin: 0;
        max-width: 100%;
        justify-content: space-around;
        padding: 1em 0em;
    }

    .top {
        width: 100%;
    }

    .bottom {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .bottom>* {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    form>div {
        padding: 0;
    }

    .images {
        min-width: initial;
        min-height: initial;
    }
}