/* Fancy background image*/
:root {
    background-image: url("../img/NPLB-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body { 
    padding: 0; 
    margin: 0;
}


/* Application logo styling */
header>div>img {
    height: 2em;
  }

header>#company {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: #8e2e0b;
    font-size: 3em;
}


header>div>a {
    font-size:1.5em;
    color: #000000;
    margin-right: auto;
    padding: 0.25em;
}


  /* Flexbox header and styling for logo image and buttons */
body>header {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
  

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}  

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    background-color: #ffffff;
    height: 20em;
    width: 30em;    
}

form>.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>button {
    background-color: #b3cfd1;
}

form>p>a {
    color: #c6c6c6;
    font-size: small;
}