body {
    padding: 0;
    margin: 0;
}

main>div {
    min-width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    background-color: var(--main-bg-colour);
    height: 25em;
    width: 25em;
    padding: 2em;
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
}

:first-child>div>label {
    font-size: 2em;
}

form .item {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form .item>label {
    font-size: initial;
    margin-bottom: 0.25em;
}

form .item>input {
    color: var(--main-text-colour);
    border: 1px solid var(--main-dark-colour);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px var(--drop-shadow-colour);
}

form div>span {
    color: var(--error-text-colour);
    padding: 0.5em;
}

@media (max-width: 700px) {
    form {
        width: unset;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
        flex-grow: 2;
    }

    main>div {
        flex-grow: 2;
    }

}