/* Fancy background image*/
:root {
    background-image: url("../img/NPLB-Background.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

body { 
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* Application logo styling */
header>div>img {
    height: 2em;
  }

header>#company {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: #8e2e0b;
    font-size: 3em;
}


header>div>a {
    font-size:1.5em;
    color: #000000;
    margin-right: auto;
    padding: 0.25em;
}


/* Flexbox header and styling for logo image and buttons */
body>header {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
 

main {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 60%;
    min-width: 50em;
    background-color: #ffffff;
}  


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    width: 100%;    
}

select {
    background-attachment: #ffffff;
}

button {
    background-color: #b3cfd1;
}

table {
    width: 95%;
}

th {
    border-bottom: 1px solid #000000;
}



tr:nth-child(even) {
    background-color: #c5c5c5;
}

tr:hover {
    background-color: #b3cfd1;
}

#newAnimal {
    margin-left: auto;
}