/* Base styles for the whole document */
:root {
    background-color: #393d3b;
    font-family: sans-serif;
    color: #f5c0f9;
}

/* 
* Updated anchor tag colours that are more compatible
* with the dark theme of the page 
*/
a {
    color: #22d0f7;
}

a:visited {
    color: #7d40b7;
}

/* Container for the photo and name in the header */
header > div {
    border: 3px solid #22d0f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main page styles */
main {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.left_column {
    /* 
    * Make sure that the side bar doesn't get too
    * squished. 
    */
    min-width: 150px;
    padding: 5px;
    margin-right: 5px;
    border: 3px solid #22d0f7;
}

main > div {
    border: 3px solid #22d0f7;
}

main h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

main p {
    margin-bottom: 5px;
    margin-top: 5px;
}

main ul {
    margin: 0px;
}

main ul > li {
    padding-bottom: 4px;
}

main ul > li > span {
    font-weight: bold;
}
/* End main page styles */

footer {
    padding-top: 8px;
}
