{% extends "base_template.html" %}
{% block css %}animals{% endblock %}
{% block main %}
<div>
    <form  method="post" action="/accounts">
        <div>
            <label for="searchBy">Search By:</label>
            <select id="searchBy" name="searchBy">
                <option value="username" {% if (predetermined.search_by == "username") %} selected {% endif %} >Name</option>
                <option value="userID"  {% if (predetermined.search_by == "userID") %} selected {% endif %}>ID</option>
                <option value="userLVL"  {% if (predetermined.search_by == "userLVL") %} selected {% endif %}>Access Level</option>
                <option value="poundID"  {% if (predetermined.search_by == "poundID") %} selected {% endif %}>Pound</option>
                <option value="rescueID"  {% if (predetermined.search_by == "rescueID") %} selected {% endif %}>Rescue</option>
            </select>
            <input type="search" id="searchText" name="searchText">
        </div>
        <div>
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" name="sortBy">
                <option value="userID" {% if (predetermined.sort_by == "userID") %} selected {% endif %}>ID</option>
                <option value="Username" {% if (predetermined.sort_by == "Username") %} selected {% endif %}>Username</option>
            </select>
            <label for="asc">Asc</label>
            <input {% if (predetermined.order == "asc") %} checked="checked" {% endif %}  type="radio" id="asc" name="order" value="asc">
            <label for="desc">Desc</label>
            <input {% if (predetermined.order == "desc") %} checked="checked" {% endif %} type="radio" id="desc" name="order" value="desc">
            <button type="submit" name="refresh">Filter</button>    
        </div>
    </form>
    <div id="button">
        <a href="new_account">New Account</a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Access Level</th>
            <th>Pound ID</th>
            <th>Rescue ID</th>
        </tr>
        {% for x in accounts %}
        <tr onclick="window.location='edit_account?account_id={{x.userID}}'">
            <td><a href="edit_account?account_id={{x.userID}}">{{x.userID}}</a></td>
            <td>{{x.username}}</td>
            <td>{{x.userLVL}}</td>
            <td>{{x.poundID}}</td>
            <td>{{x.rescueID}}</td>
        </tr>
    {% endfor %}
    </table>
    <div>
        {% if prev_url %}
        <div id="button">
            <a href="{{ prev_url }}">Back</a>
        </div>
        {% endif %}
        <p>Page {{ page }}</p>
        {% if next_url %}
        <div id="button">
            <a href="{{ next_url }}">Forward</a>
        </div>
        {% endif %}
    </div>
    <p>Total Pages - {{total_pages}}</p>
    <p>Total Users - {{count}}</p>
</div>
{% endblock %}