<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>NPLB - {{ title }}</title>
        <link rel="stylesheet" href="static/css/form.css" />
    </head>
    <body>
        <header>
            <div id="company">
                <img src="static/img/logo.jpg" alt="Logo" />
                No Paw Left Behind
            </div>
            <div class="links">
                <!--Needs to be Hidden from non-NPLB -->
                {% if title != "Dashboard" %}
                    <a href="/dashboard">Dashboard</a>
                {% endif %}
                <!--Needs to be Hidden from non-Admin -->
                {% if title != "Accounts" %}
                    <a href="/accounts">Accounts</a>
                {% endif %}
                
                <!--Every User Can see and Use-->
                {% if title != "Animals" %}
                    <a href="/animals">Animals</a>
                {% endif %}
                {% if title != "Options" %}
                    <a href="/options">Options</a>
                {% endif %}
                <a href="/logout">Log Out</a>
            </div>
        </header>   
        <main>
            <form>
                <h2>Step 1</h2>
                <div class="item">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" />
                </div>

                <div class="item">
                    <label>Status</label>
                    <div class = "radioQ">
                        {% for item in ["stray", "surrender", "other"] %}
                        <div>
                            <label for="status_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="status_{{item}}" name="status" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label for="sex">Sex</label>
                    <div class = "radioQ">
                        {% for item in ["male", "female", "unknown"] %}
                        <div>
                            <label for="sex_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="sex_{{item}}" name="sex" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% for question in ["sterilized", "microchip"] %}
                <div class="item">
                    <label>{{question.capitalize()}}</label>
                    <div class = "radioQ">
                        {% for item in ["yes", "no", "unknown"] %}
                        <div>
                            <label for="{{question}}_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="{{question}}_{{item}}" name="{{question}}" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="item">
                    <label>In Heat</label>
                    <div class = "radioQ">
                        {% for item in ["yes", "no", "unknown"] %}
                        <div>
                            <label for="inheat_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="inheat_{{item}}" name="inheat" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Visible Parasites</label>
                    <div class = "radioQ">
                        {% for item in ["yes", "no", "unknown"] %}
                        <div>
                            <label for="parasites_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="parasites_{{item}}" name="parasites" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Stool</label>
                    <div class = "radioQ">
                        {% for item in ["normal", "soft", "diarrhea"] %}
                        <div>
                            <label for="stool_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="stool_{{item}}" name="stool" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% for item in ["age", "weight", "breed", "colour", "markings"] %}
                <div class="item">
                    <label for="{{item}}">{{item.capitalize()}}: </label>
                    <input type="text" id="{{item}}" name="{{item}}" />
                </div>
                {% endfor %}


                <h2>Step 2 - Temperment</h2>
                <h3>Physical Contact With</h3>
                {% for item in ["paws", "abdomen", "face", "nose", "ears", "head", "neck", "hind"] %}
                <div class="item">
                    <label>{{item.capitalize()}}</label>
                    <div class = "checkQ">                        
                        {% for x in ["aggresive", "uneasy", "fearful", "tolerant", "relaxed", "unknown"] %}
                        <input type="checkbox" id="{{item}}_{{x}}" name="{{item}}_{{x}}" value=1>
                        <label for="{{item}}_{{x}}"> {{x.capitalize()}}</label>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}


                <h3>Crated Behaviour</h3>
                <div class="item">
                    <label>Barking</label>
                    <div class = "radioQ">
                        {% for item in ["yes", "no", "unknown"] %}
                        <div>
                            <label for="barking_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="barking_{{item}}" name="barking" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Greeting</label>
                    <div class = "checkQ">     
                        {% for x in ["growl", "bark", "calm", "fearful", "excited", "unknown"] %}                   
                        <div>
                            <input type="checkbox" id="greeting_{{x}}" name="greeting_{{x}}" value=1>
                            <label for="greeting_{{x}}"> {{x.capitalize()}}</label>
                        </div>
                        {% endfor %}   
                    </div>
                </div>

                <div class="item">
                    <label>When Given Food</label>
                    <div class = "checkQ">                       
                        <div>
                        <input type="checkbox" id="food_immediately" name="food_immediately" value=1>
                        <label for="food_immediately"> Eats immediately</label>
                        </div>
                        <div>
                        <input type="checkbox" id="food_floor" name="food_floor" value=1>
                        <label for="food_floor"> Eats off floor</label>
                        </div>
                        <div>
                        <input type="checkbox" id="food_noeat" name="food_noeat" value=1>
                        <label for="food_noeat"> Does not eat</label>     
                        </div>
                        <div>
                        <input type="checkbox" id="food_idk" name="food_idk" value=1>
                        <label for="food_idk"> Unknown</label>  
                        </div>
                    </div>
                </div>
                <h2>Step 3 - Misc Information</h2>
                <div class="item">
                    <label>Behaviour w/ dogs</label>
                    <div class = "checkQ">        
                        {% for item in ["aggressive", "dominant", "excited", "calm", "submissive", "polite", "playful", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="behaviourWithDogs_{{item}}" name="behaviourWithDogs_{{item}}" value=1>
                            <label for="behaviourWithDogs_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Overall Dog Disposition</label>
                    <div class = "checkQ">        
                        {% for item in ["aggressive", "fearful", "shy", "outgoing", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="dispositionOverall_{{item}}" name="dispositionOverall_{{item}}" value=1>
                            <label for="dispositionOverall_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Disposition w/ strangers</label>
                    <div class = "checkQ">        
                        {% for item in ["aggressive", "fearful", "shy", "outgoing", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="dispositionStranger_{{item}}" name="dispositionStranger_{{item}}" value=1>
                            <label for="dispositionStranger_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>In presence of food (not crated)</label>
                    <div class = "checkQ">        
                        {% for item in ["aggressive", "glutton", "fussy", "nibbler", "protective", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="dispositionFood_{{item}}" name="dispositionFood_{{item}}" value=1>
                            <label for="dispositionFood_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>In presence of toys</label>
                    <div class = "checkQ">        
                        {% for item in ["selective", "playful", "destructive", "possessive", "uninterested", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="dispositionToy_{{item}}" name="dispositionToy_{{item}}" value=1>
                            <label for="dispositionToy_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>On leash</label>
                    <div class = "checkQ">        
                        {% for item in ["pulls", "unfamiliar", "polite", "chews", "unknown"]%}                
                        <div>
                            <input type="checkbox" id="dispositionLeash_{{item}}" name="dispositionLeash_{{item}}" value=1>
                            <label for="dispositionLeash_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label>Known Commands</label>
                    <div class = "checkQ">        
                        {% for item in ["sit", "paw", "stay"]%}                
                        <div>
                            <input type="checkbox" id="commands_{{item}}" name="commands_{{item}}" value=1>
                            <label for="commands_{{item}}"> {{item.capitalize()}}</label>
                        </div>
                        {% endfor %}
                        <div>     
                            <input type="checkbox" id="commands_liedown" name="commands_liedown" value=1>
                            <label for="commands_liedown"> Lie down</label>
                        </div>
                        <div>
                            <input type="checkbox" id="commands_unknown" name="commands_unknown" value=1>
                            <label for="commands_unknown"> Unknown</label>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <label>Is Dog Vocal</label>
                    <div class = "radioQ">
                        {% for item in ["never", "hardly", "often", "constantly", "unknown"] %}
                        <div>
                            <label for="vocal_{{item}}">{{item.capitalize()}}</label>
                            <input type="radio" id="vocal_{{item}}" name="vocal" value={{loop.index0}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <h2>Step 4 - Visual Health</h2>
                {% for item in ["Face", "Nose", "Teeth", "Ears", "Eyes", "Neck", 
                "Abdomen", "Tail", "Legs", "Paws", "Nails", "Skin", "Coat", "Other"] %}
                <div class="item">
                    <label for="visual{{item}}">{{item}}: </label>
                    <input type="text" id="visual{{item}}" name="visual{{item}}" />
                </div>
                {% endfor %}
                
                <h2>Step 5 - Additional Info</h2>
                <div class="item">
                    <label for="vet">Vet Info: </label>
                    <textarea id="vet" name="vet" rows="4"></textarea>
                </div>
                <div class="item">
                    <label for="notes"> Additional Notes: </label>
                    <textarea id="notes" name="notes" rows="4"></textarea>
                </div>
                <div class="buttons">
                    <button type="submit" name="cancel">Cancel</button>   
                    <button type="submit" name="save">Save</button>   
                    <button type="submit" name="submit">Submit</button>   
                </div>
            </form>    
        </main>
    </body>
</html>