{% extends "base_template.html" %}
{% block css %}animals{% endblock %}
{% block main %}
<div>
    <form>
        <div>
            <label for="searchBy">Search By:</label>
            <select id="searchBy" name="searchBy">
                <option value="ID" selected>ID</option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="stage">Stage</option>
            </select>
            <input type="search" id="searchText" name="searchText">
            <button type="submit" name="search">Search</button>
        </div>
    </form>
    <form>
        <div>
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" name="sortBy">
                <option value="ID" selected>ID</option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="stage">Stage</option>
            </select>
            <label for="asc">Asc</label>
            <input type="radio" id="asc" name="order" value="asc">
            <label for="desc">Desc</label>
            <input type="radio" id="desc" name="order" value="desc">
            <button type="submit" name="refresh">Filter</button>
        </div>
    </form>
    <form> 
        <button onclick="window.location.href='add_animal.html';">New Animal</button>
    </form>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Stage</th>
        </tr>
        {% for x in range (0, 100) %}
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}