{% extends "base_template.html" %}
{% block css %}animals{% endblock %}
{% block main %}
<div>
    <form>
        <div>
            <label for="searchBy">Search By:</label>
            <select id="searchBy" name="searchBy">
                <option value="ID" selected>ID</option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="stage">Stage</option>
            </select>
            <input type="search" id="searchText" name="searchText">
        </div>
        <div>
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" name="sortBy">
                <option value="ID" selected>ID</option>
                <option value="name">Name</option>
                <option value="species">Species</option>
                <option value="stage">Stage</option>
            </select>
            <label for="asc">Asc</label>
            <input checked="checked" type="radio" id="asc" name="order" value="asc">
            <label for="desc">Desc</label>
            <input type="radio" id="desc" name="order" value="desc">
            <button type="submit" name="refresh">Go</button>
        </div>
    </form>
    <div id="button">
        <a href="new_animal">New Animal</a>
    </div>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Stage</th>
            <th>Days in Stage</th>
            <th>Creator</th>
        </tr>
        {% for x in animals %}
        <tr onclick="window.location='view_animal?viewid={{x.animalID}}';">
            <td><a href="view_animal?viewid={{x.animalID}}">{{x.animalID}}</a></td>
            <td>{{x.name}}</td>
            <td>{{x.animalType}}</td>
            <td>{{x.breed}}</td>
            <td>{{x.stage}}</td>
            <td>{{x.days}}</td>
            <td>{{x.creatorName}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}