<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>NPLB - {{ title }}</title>
        <link rel="stylesheet" href="static/css/normalize.css" />
        <link rel="stylesheet" href="static/css/{% block css %}{% endblock %}.css" />
    </head>
    <body>
        <header>
            <div id="company">
                <img src="static/img/logo.png" alt="Logo" />
                No Paw Left Behind
            </div>
            <div class="links">
                <!--Needs to be Hidden from non-NPLB -->
                {% if title != "Dashboard" %}
                    <a href="/dashboard">Dashboard</a>
                {% endif %}
                <!--Needs to be Hidden from non-Admin -->
                {% if title != "Accounts" %}
                    <a href="/accounts">Accounts</a>
                {% endif %}
                
                <!--Every User Can see and Use-->
                {% if title != "Animals" %}
                    <a href="/animals">Animals</a>
                {% endif %}
                {% if title != "Options" %}
                    <a href="/options">Options</a>
                {% endif %}
                <a href="/logout">Log Out</a>
            </div>
        </header>   
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>