{# Uses the inheritance to get from the base template page the head, header and navigation. Along with any footer #}
{% extends "base_template.html" %}
{# Add the css name to the file. #}
{% block css %}form{% endblock %}
{# Add the main method #}
{% block main %} 
<div>
    <form method="post" enctype="multipart/form-data" action="/submit_csv">
        <div class="item">
            <label for="type">Type of Animal</label>
            <select id="type" name="type">
                {% for y in animal_types %}
                <option value="{{y.name}}">{{y.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="item">
            <label for="csv_file">CSV</label>
            <input type="file" name="csv_file" accept=".csv"/>
        </div>
        <div class="buttons">
            <button type="submit" name="submit">Submit</button>   
        </div>
    </form>    
</div>
{% endblock %}
