{% extends "base_template.html" %}
{% block css %}animals{% endblock %}
{% block main %}
<div>
    <div>
        <div id="button">
            <a href="/visualize">Visualize</a>
        </div>
        <div id="button">
            <a href="/csv">Upload CSV</a>
        </div>
    </div>
    <h2>Newest Entries</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Stage</th>
            <th>Days in Stage</th>
            <th>Creator</th>
        </tr>
        {% for x in animals[0] %}
        <tr onclick="window.location='gallery?viewid={{x.animalID}}';">
            <td><a href="gallery?viewid={{x.animalID}}">{{x.animalID}}</a></td>
            <td>{{x.name}}</td>
            <td>{{x.animalType}}</td>
            <td>{{x.breed}}</td>
            <td>{{x.stage}}</td>
            <td>{{x.days}}</td>
            <td>{{x.creatorName}}</td>
        </tr>
        {% endfor %}
    </table>    
    {% for stageNum in range(1,9,1) %}
        <h2>Stage {{stageNum}}</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Species</th>
                <th>Breed</th>
                <th>Stage</th>
                <th>Days in Stage</th>
                <th>Creator</th>
            </tr>
            {% for x in animals[stageNum] %}
            <tr onclick="window.location='gallery?viewid={{x.animalID}}';">
                <td><a href="gallery?viewid={{x.animalID}}">{{x.animalID}}</a></td>
                <td>{{x.name}}</td>
                <td>{{x.animalType}}</td>
                <td>{{x.breed}}</td>
                <td>{{x.stage}}</td>
                <td>{{x.days}}</td>
                <td>{{x.creatorName}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
{% endblock %}