{# Uses the inheritance to get from the base template page the head, header and navigation. Along with any footer #}
{% extends "base_template.html" %}
{# Add the css name to the file. #}
{% block css %}gallery{% endblock %}
{# Add the javascript name to the file. #}
{% block js %}<script type="text/javascript" src="static/js/gallery.js"></script>{% endblock %}
{# Add the main method #}
{% block main %}
<div>
        <div class="infoline">
            <h1>{{ info["name"] }}</h1>
            <div id="button"><a href="view_animal?viewid={{animalID}}">View Animal</a></div>
        </div>
    <div class="top">
        <div class="files">
            {% for x in images %}
            
            <input type="hidden" value="/downloads/{{ x }}" class="file" id="{{ images[x] }}">

            {% endfor%}
        </div>
        <div class="images">
        </div>
        <div class="buttons">
        </div>
    </div>
    <div class="bottom">
        <div class="stageInformation">
            <input type="hidden" value="{{ current_stage }}" id="current_stage">
            <div class="stageButtons">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
            </div>

            <form class="stage" id="1" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 1: Detailed information received</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="1" name="stage">
                    {% if '1:1' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="pound" value="1" checked>
                        <label for="pound">Pound (Completed: {{ stage_info['1:1'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['1:1'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="pound" value="1">
                        <label for="pound">Pound</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '1:2' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="vet" value="2" checked>
                        <label for="vet">Vet (Completed: {{ stage_info['1:2'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['1:2'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="vet" value="2">
                        <label for="vet">Vet</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '1:3' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="3" checked>
                        <label for="other">Other (Completed: {{ stage_info['1:3'][1] }} )</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['1:3'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="3">
                        <label for="other">Other</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="2" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 2: Seeking Rescue Placement</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="2" name="stage">
                    <input type="hidden" value="1" name="substage">
                    {% if '2:1' in stage_info %}
                    <label>Completed: {{ stage_info['2:1'][1] }}</label>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['2:1'][0]}}">
                    {% else %}
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="3" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 3: Awaiting Transport out of pound/shelter</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="3" name="stage">
                    {% if '3:1' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="req" value="1" checked>
                        <label for="req">Pull Fee Required (Completed: {{ stage_info['3:1'][1]}} )</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['3:1'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="req" value="1">
                        <label for="req">Pull Fee Required</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '3:2' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="spons" value="2" checked>
                        <label for="spons">Pull Fee Sponsored (Completed: {{ stage_info['3:2'][1]}})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['3:2'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="spons" value="2">
                        <label for="spons">Pull Fee Sponsored</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '3:3' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="3" checked>
                        <label for="other">Other (Completed: {{ stage_info['3:3'][1]}})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['3:3'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="3">
                        <label for="other">Other</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="4" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 4: In Kennel/Boarding</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="4" name="stage">
                    {% if '4:1' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="vet_req" value="1" checked>
                        <label for="vet_req">Veterinary Care Required (Completed: {{ stage_info['4:1'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['4:1'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="vet_req" value="1">
                        <label for="vet_req">Veterinary Care Required</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '4:2' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="behav_req" value="2" checked>
                        <label for="behav_req">Behavioral Assessment Required (Completed:
                            {{ stage_info['4:2'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['4:2'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="behav_req" value="2">
                        <label for="behav_req">Behavioral Assessment Required</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '4:3' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="rescue_need" value="3" checked>
                        <label for="rescue_need">Rescue Placement Needed (Completed: {{ stage_info['4:3'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['4:3'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="rescue_need" value="3">
                        <label for="rescue_need">Rescue Placement Needed</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '4:4' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="4" checked>
                        <label for="other">Other (Completed: {{ stage_info['4:4'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['4:4'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="4">
                        <label for="other">Other</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="5" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 5: Rescue Placement Found</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="5" name="stage">
                    {% if '5:1' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="sharable" value="1" checked>
                        <label for="sharable">Dog is Sharable to Public (Completed: {{ stage_info['5:1'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['5:1'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="sharable" value="1">
                        <label for="sharable">Dog is Sharable to Public</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '5:2' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="2" checked>
                        <label for="other">Other (Completed: {{ stage_info['5:2'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['5:2'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="2">
                        <label for="other">Other</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="6" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 6: Dog at Rescue</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="6" name="stage">
                    <input type="hidden" value="1" name="substage">
                    {% if '6:1' in stage_info %}
                    <label>Completed: {{ stage_info['6:1'][1] }}</label>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['6:1'][0]}}">
                    {% else %}
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="7" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 7: Follow Up</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="7" name="stage">
                    <input type="hidden" value="1" name="substage">
                    {% if '7:1' in stage_info %}
                    <label>Completed: {{ stage_info['7:1'][1] }}</label>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['7:1'][0]}}">
                    {% else %}
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
                <button id="complete" type="submit" name="complete">Complete Stage</button>
            </form>

            <form class="stage" id="8" method="POST" enctype="multipart/form-data" action="/stage_updated">
                <div>
                    <h2>Stage 8</h2>
                    <input type="hidden" value="{{animalID}}" name="animalID">
                    <input type="hidden" value="8" name="stage">
                    {% if '8:1' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="adopt" value="1" checked>
                        <label for="adopt">Adopted (Completed: {{ stage_info['8:1'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['8:1'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="adopt" value="1">
                        <label for="adopt">Adopted</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '8:2' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="pall" value="2" checked>
                        <label for="pall">In Palliative Care (Completed: {{ stage_info['8:2'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['8:2'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="pall" value="2">
                        <label for="pall">In Palliative Care</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '8:3' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="fost" value="3" checked>
                        <label for="fost">In Foster (Completed: {{ stage_info['8:3'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['8:3'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="fost" value="3">
                        <label for="fost">In Foster</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '8:4' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="euth" value="4" checked>
                        <label for="euth">Euthanized (Completed: {{ stage_info['8:4'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['8:4'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="euth" value="4">
                        <label for="euth">Euthanized</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                    {% if '8:5' in stage_info %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="5" checked>
                        <label for="other">Other (Completed: {{ stage_info['8:5'][1] }})</label>
                    </div>
                    <input type="text" name="notes" id="notes" value="{{ stage_info['8:5'][0] }}">
                    {% else %}
                    <div>
                        <input type="checkbox" name="substage" id="other" value="5">
                        <label for="other">Other</label>
                    </div>
                    <input type="text" name="notes" id="notes">
                    {% endif %}
                </div>
                <button type="submit" name="submit">Update Stage</button>
            </form>
        </div>
        <div class="textareas">
            <form class="info" method="POST" action="/gallery_info_updated">
                <input type="hidden" value="{{animalID}}" name="animalID">

                <div id="info">
                    <div>ID: {{ animalID }}</div>
                    <div>Species: {{info["species"]}}</div>
                    <div>Stage: {{ info["stage"] }}</div>
                    <div>Days in Stage: {{info["days"]}} </div>
                    <div>Creator: {{info["creator"]}}</div>
                </div>
                <div>
                    <label for="pound">Pound:</label>
                    <select id="pound" name="pound">
                        <option value=-1>None</option>
                        {% for x in pounds %}
                            <option value={{x.poundID}} {% if x.poundID == info["pound"] %} selected {% endif %}>{{x.poundName}}</option>      
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="rescue">Rescue:</label>
                    <select id="rescue" name="rescue">
                        <option value=-1>None</option>
                        {% for x in rescues %}
                            <option value={{x.rescueID}} {% if x.rescueID == info["rescue"] %} selected {% endif %}>{{x.rescueName}}</option>      
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="supervisor">Supervisor:</label>
                    <select id="supervisor" name="supervisor">
                        <option value=-1>None</option>
                        {% for x in supervisors %}
                            <option value={{x.userID}} {% if x.userID == info["supervisor"] %} selected {% endif %}>{{x.username}}</option>      
                        {% endfor %}
                    </select>
                </div>

                <div class="areaContainer">
                    <label for="notes"> Notes: </label>
                    <textarea name="notes" rows="4">{{info["notes"]}}</textarea>
                </div>
                <button type="submit" name="submit">Update Info</button>
                
            </form>
        </div>
    </div>
    <div id="button"><a href="/animal_viewed">Return</a></div>
</div>
{% endblock %}