<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>NPLB - Home</title>
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/index.css" />
</head>

<body>
    <header>
        <div id="company">
            <img src="static/img/logo.png" alt="Logo" />
            No Paw Left Behind
        </div>
        <div class="links">
            <a href="https://nopawleftbehind.ca">Main Site</a>
        </div>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div>
            <form method="post" class="login">
                <div>
                    <label>Login</label>
                </div>
                <div>
                    <div class="item">
                        <label for="username">Username: </label>
                        <input type="text" id="username" name="username" />
                    </div>
                    <div class="item">
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password" />
                    </div>
                </div>
                <div>
                    {% for message in errors %}
                    <span>{{ message }}</span>
                    {% endfor %}
                    <button type="submit" name="login">Login</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>