{% extends "base_template.html" %}
{% block css %}new_account{% endblock %}
{% block main %}
<div>
    <form method="post" class="add_account">
        <div>
            <label>Create New Account</label>
        </div>
        <div>
            <div class="item">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="item">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="item">
                <label for="passwordVerify">Verify Password: </label>
                <input type="password" id="passwordVerify" name="passwordVerify" />
            </div>
            <div class="item">
                <label for="userLVL">User Access Level: </label>
                <select name="userLVL" id="userLVL">
                    <option value="0">Admin</option>
                    <option value="1" selected>NPLB User</option>
                    <option value="2">SudoPound</option>
                    <option value="3">Pound</option>
                    <option value="4">SudoRescue</option>
                    <option value="5">Rescue</option>
                </select>
                <label for="userLVL">SudoPound + SudoRescue both have ability to create new pound/rescue users.</label>
            </div>
            <div class="item">
                <label for="rescueID">Rescue ID (Optional): </label>
                <select name="rescueID" id="rescueID">
                    <option value="" selected>None</option>
                {% for rescue in rescue_pound_info.get("rescues") %}
                    <option value="{{ rescue.rescueID }}">{{ rescue.rescueName }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="item">
                <label for="poundID">Pound ID (Optional): </label>
                <select name="poundID" id="poundID">
                    <option value="" selected>None</option>
                {% for pound in rescue_pound_info.get("pounds") %}
                    <option value="{{ pound.poundID }}">{{ pound.poundName }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div>
            {% for message in errors %}
            <span>{{ message }}</span>
            {% endfor %}
            <button type="submit" name="create">Create</button>
        </div>
    </form>
</div>
{% endblock %}