{% extends "base_template.html" %}
{% block css %}new_account{% endblock %}
{% block main %}
<div>
    <form method="post" class="add_account">
        <div>
            <label>Create New Account</label>
        </div>
        <div>
            <div class="item">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="item">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="item">
                <label for="passwordVerify">Verify Password: </label>
                <input type="password" id="passwordVerify" name="passwordVerify" />
            </div>
            <div class="item">
                <label for="userLVL">User Access Level: </label>
                <label for="userLVL">0 = Admin, 1 = NPLB user, 2 = SudoPound, 3 = Pound, 4 = SudoRescue, 5 =
                    Rescue</label>
                <label for="userLVL">SudoPound + SudoRescue both have ability to create new pound/rescue users.</label>
                <input type="number" id="userLVL" name="userLVL" />
            </div>
            <div class="item">
                <label for="rescueID">Rescue ID (Optional): </label>
                <input type="number" id="rescueID" name="rescueID" />
            </div>
            <div class="item">
                <label for="poundID">Pound ID (Optional): </label>
                <input type="number" id="poundID" name="poundID" />
            </div>
        </div>
        <div>
            {% for message in errors %}
            <span>{{ message }}</span>
            {% endfor %}
            <button type="submit" name="create">Create</button>
        </div>
    </form>
</div>
{% endblock %}