{% extends "base_template.html" %}
{% block css %}organizations{% endblock %}
{% block main %}
    <div id="newOrg">
        <a href="add_organization">New Organization</a>
    </div>
    <form>
        <div>
            <label for="searchBy">Search By:</label>
            <select id="searchBy" name="searchBy">
                <option value="ID" selected>ID</option>
                <option value="name">Name</option>
            </select>
            <input type="search" id="searchText" name="searchText">
        </div>
        <div>
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" name="sortBy">
                <option value="ID" selected>ID</option>
                <option value="Name">Name</option>
            </select>
            <label for="asc">Asc</label>
            <input type="radio" id="asc" name="order" value="asc">
            <label for="desc">Desc</label>
            <input type="radio" id="desc" name="order" value="desc">
            <button type="submit" name="refresh">Refresh</button>    
        </div>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        {% for x in pounds%}
        <tr>
            <td><a href="edit_organization?type=1&editid={{x.poundID}}">{{x.poundID}}</a></td>
            <td>{{x.poundName}}</td>
            <td>Pound</td>
        </tr>
        {% endfor %}
        {% for x in rescues%}
        <tr>
            <td><a href="edit_organization?type=0&editid={{x.rescueID}}">{{x.rescueID}}</a></td>
            <td>{{x.rescueName}}</td>
            <td>Rescue</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}