{# Uses the inheritance to get from the base template page the head, header and navigation. Along with any footer #}
{% extends "base_template.html" %}
{# Add the css name to the file. #}
{% block css %}form{% endblock %}
{# Add the main method #}
{% block main %} 
    <div>
        <div class="image"> <img src = "/cacheless_downloads/visual_durations.png" alt="Visualization of Animal's Duration in Stages" width="500"> </div>
        <div class="image"> <img src = "/cacheless_downloads/visual_outcome_monthly.png" alt="Visualization of Animal outcomes over time" width="500"> </div>              
        <div class="image"> <img src = "/cacheless_downloads/visual_outcome_distribution.png" alt="Visualization of Outcome for application life" width="500"> </div>
        <div class="image"> <img src = "/cacheless_downloads/visual_distribution.png" alt="Visualization of distribution per stages." width="500"> </div>
        <div class="image"> <img src = "/cacheless_downloads/visual_growth.png" alt="Visualization of application growth" width="500"> </div>    
    </div>
{% endblock %}
