[Unit]
Description=NPLBAM Nginx
After=docker.service
Requires=docker.service
After=nplbam_flask.service
Requires=nplbam_flask.service

[Service]
ExecStart=/usr/bin/docker run --rm -p 0.0.0.0:80:80 -p 0.0.0.0:443:443 --name nplbam_rp \
    -v /usr/local/NPLBAM/nginx/nginx.conf:/etc/nginx/nginx.conf:ro \
    -v /usr/local/NPLBAM/nginx/root:/usr/share/nginx/html:ro \
    -v /usr/local/NPLBAM/nginx/tls:/etc/nginx/tls:ro \
    --network=nplbam-net \
    nginx
Restart=always

[Install]
WantedBy=multi-user.target